.wrap{
    background-color: rgb(110, 170, 170);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.img{
    display: inline-block;
    position: relative;
}
.text{
    /* background-color: aquamarine; */
    width: 30px;
    font-size: 5px;
    position:absolute ;
    top: 0px;
    right: 0px;
    background-color: #f00;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}